/*!
 * BLOCKS - Responsive Dashboard Theme
 *
 * Hey! Thanks for download this theme!
 * This bootstrap theme is totally free. You can edit, share, distribute, use and whatever you want.
 * Credits are always appreciated.
 * Please, feel free to contact me if you have any questions regarding this theme.
 *
 *
 * Copyright 2013 
 * Created by: Carlos Alvarez
 * URL: http://Alvarez.is
 * Designed and built based on Twitter Bootstrap.
 */


@import "compass/css3";

/**********BASE CONFIGURATIONS**********/   
body {
	background:#f0f2f5;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
font-family: 'Ubuntu', sans-serif;
}

h3, h4, h5 {
	font-family: 'Ubuntu', sans-serif;
	font-weight:lighter;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size:22px;
}

h3 {
	font-size:46px;
	color:#b2c831
}

h5 {
	color:#b2c831;
	margin-left:5px;
}

/***********BLOCKS & WRAPS***********/

/*--- Dash Unit / Used in Dashboard page ---*/
.dash-unit {		
	width: 98%;
	margin-left:1%;
	margin-bottom: 5px;
	padding-bottom:10px;
	border: 1px solid #999999;
	background-color: #ffffff;
	color:#999999;
	height:200px;
	border-radius: 10px;
	text-align:center;
}

.dash-unit:hover {
	background-color: #ffffff;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}

.dash-unit dtitle {
	font-family: 'Ubuntu', sans-serif;
	font-size:12px;
	text-transform:uppercase;
	color:#888888;
	margin:5px;
	padding:0px;
	height:inherit	
	}
	
.dash-unit hr {
  	border: 0;
  	border-top: 1px dashed #999999;
	margin-top:1px;
	margin-bottom:8px;
}

.dash-unit h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight:300;
	font-size: 30px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
	display:inline;
}

.dash-unit h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
	display:inline;
}


.dash-unit h3 {
	font-weight:300;
	font-size: 15px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-unit p {
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: inherit;
	margin: 0 0 10px;
	padding:5px;
 }

.dash-unit h4 {
	padding-left:5px;
	margin-top:2px;
	font-size: 13px;
	font-weight:lighter;
	line-height: 1;
	letter-spacing: 0px;
	color:#888888;
}

.dash-unit bold{
	font-family: 'Ubuntu', sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#888888;
	vertical-align:middle;
}
.horizon_half {
	width: 48%;
}

.dash-half {
	width: 48%;
	margin-bottom:2px;
	padding-bottom: 10px;
	border: 1px solid #999999;
	background-color: #ffffff;
	color:#999999;
	height:98px;
	border-radius: 10px;
	text-align:center;
}

.dash-half:hover {
	background-color: #ffffff;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}

.dash-half dtitle {
	font-family: 'Ubuntu', sans-serif;
	font-size:12px;
	text-transform:uppercase;
	color:#888888;
	margin:5px;
	padding:0px;
	height:inherit	
	}
	
.dash-half hr {
  	border: 0;
  	border-top: 1px dashed #999999;
	margin-top:1px;
	margin-bottom:8px;
}

.dash-half h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight:300;
	font-size: 20px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}

.dash-half h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-half h3 {
	font-weight:300;
	font-size: 15px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-half p {
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: inherit;
	margin: 0 0 10px;
	padding:5px;
 }

.dash-half h4 {
	padding-left:5px;
	margin-top:2px;
	font-size: 13px;
	font-weight:lighter;
	line-height: 1;
	letter-spacing: 0px;
	color:#888888;
}

.dash-half bold{
	font-family: 'Ubuntu', sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#888888;
	vertical-align:middle;
}

/**********Styling Elements**********/   
.cont {
	text-align:center;
	margin-top:30px;
}

.cont ok {
	color:#b2c831;
}

.cont bad {
	color:#fa1d2d;
}

.cont2 {
	text-align:center;
	margin-top:-15px;
	font-size:12px;
	line-height:7px;
}

.cont2 bold{
	font-size:10px;
	font-weight:bold;
	color:#b2c831
}

.text p {
	font-family: 'Open Sans', sans-serif;
	margin-left:8px;
	font-size:14px;
	line-height:18px;
}

.text grey {
	font-size:11px;
	color:silver
}


/***********Bootstrap Default Modifications***********/

.thumbnail {
	border:0px;
	text-align:center;
  -webkit-box-shadow: 0px;
     -moz-box-shadow: 0px;
          box-shadow: 0px;
    background: none;
    text-align: center;      
	
}

.modal-header {
	background-color: #4f4f4f;
	color:#fff;
}


input[type=submit] {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	background: #b2c831;
	color: #fff;
	border: none;
	padding: 8px 28px 10px 26px;
	  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}
input[type=text], textarea {
	background: #cdcbcc;
	font-size: 13px;
	display: block;
	width: 100%;
	border: none;
	box-shadow: none;
	height: 30px;
	line-height: 18px;
	padding: 0;
	text-indent: 18px;
	margin: 0 0 18px;
}
textarea {
	line-height: 18px;
	padding: 18px;
	width: 100%;
	text-indent: 0;	
}
.textarea-container { margin: 0 18px; }
.textarea-container textarea { margin-left: -18px; }
#contact textarea { width: 100%; height: 45px; }


.progress-bar {
	background-color: #b2c831;
}

/**********Mail Style Configuration**********/   

.framemail {
    cursor: default;
}
.framemail .window {
    font-size: 0;
    margin-top: -1px;
    overflow: hidden;
    margin-left: -18px;
}
.framemail .window .mail li {
    background-color:#3d3d3d;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.05));
    border-top: 1px solid #888;
    position: relative;
    margin-left:-18px;
}
.framemail .window .mail li:first-child {
    border-top: none;
}
.framemail .window .mail li:hover {
    background-color: #5d5b5b;
}
.framemail .window .mail li:after,
.framemail .window .mail li:before {
    border-left: 8px solid transparent;
    border-top: 8px solid #df6;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.framemail .window .mail li:before {
    border-top-color: #bbb;
    border-width: 9px;
}
.framemail .window .mail li:nth-child(1):after,
.framemail .window .mail li:nth-child(1):before {
    border: none;
}
.framemail .window .mail li:nth-child(2):after {
    border-top-color: #fa1d2d;
}
.framemail .window .mail li i {
    display: inline-block;
    height: 48px;
    width: 6px;
}
.framemail .window .mail li .read {
    background-color: #ddd;
}
.framemail .window .mail li .unread {
    background: #b2c831;
}
.framemail .window .mail li img {
    background: #819da2;
    border-radius: 2px;
    height: 36px;
    left: 12px;
    position: absolute;
    top: 6px;
    width: 36px;
}
.framemail .window .mail li p {
    font: 13px/24px sans-serif;
    left: 56px;
    position: absolute;
    top: 3px;
}
.framemail .window .mail li .sender {
    color: #e9e8e8;
    font-weight: bold;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
}
.framemail .window .mail li .message {
    color: #999;
    overflow: hidden;  
    text-overflow: ellipsis;
    top: 21px;  
    white-space: nowrap;
}
.framemail .window .mail li .message strong {
    color: #999;
}
.framemail .window .mail li .actions {
    height: 16px;
    position: absolute;
    right: 19px;
    text-align: right;
    top: 0;
    width: 96px;
}
.framemail .window .mail li .actions img {
    background: none;
    display: inline-block;
    height: 16px;
    margin-left: 6px;
    opacity: .1;
    position: relative;
    width: 16px;
}
.framemail .window .mail li:hover .actions img {
    opacity: .25;
}
.framemail .window .mail li .actions img:hover {
    opacity: .75;
}


/**********GRAPH**********/

.section-graph {
  position: relative;
  color: #fff;
  height:180px;
  background-image: linear-gradient(color-stops(#b2c831, #b2c831 50%, #b2c831 50%));
  margin-bottom:20px;
  padding-top:0px;
}


/********** DHT*************/
.section-dht {

  margin-bottom:2%;
  text-align: center;
  width: 48%;
  height: 85%;
  color: #fff;
  padding-left:0px;
}
.section-dht h1 {
	font-family: 'Ubuntu';
	font-weight:300;
	font-size: 30px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
	display: inline;
}

.section-dht h2 {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 20px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #888888;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
	display: inline;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 48%;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 22px;
  background: #b2c831;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #b6c753, #b2c831);
  background-image: -moz-linear-gradient(top, #b6c753, #b2c831);
  background-image: -o-linear-gradient(top, #b6c753, #b2c831);
  background-image: linear-gradient(to bottom, #b6c753, #b2c831);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background: #fa1d2d;
  background-image: -webkit-linear-gradient(top, #f93e4b, #fa1d2d);
  background-image: -moz-linear-gradient(top, #f93e4b, #fa1d2d);
  background-image: -o-linear-gradient(top, #f93e4b, #fa1d2d);
  background-image: linear-gradient(to bottom, #f93e4b, #fa1d2d);
}


/**********Gauge Chart**********/   
#canvas {
	display: block;
	width: 150px;
	margin: 30px auto;
}

/**********Accordion Styling**********/   

.accordion-group {
	border: 1px solid #222;
}
.accordion-heading {
  background-color: #5a5a5a;
  *background-color: #5a5a5a;
    background-repeat: repeat-x;
  *-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image: linear-gradient(to bottom, #707070, #707070);*
}

/**********Link Styling**********/   
a {
  color: #b2c831;
  text-decoration: none;
}

a:hover {
  color: #dff948;
  text-decoration: none;
}



/**********FooterWrap Section**********/   
#footerwrap {
    width: 100%;
    background:#262626;
    padding-top:25px;
    padding-bottom: 40px;
	border-top-style: solid;
    border-top-width:8px;
    border-top-color:#1d1d1d;
    text-align:center

}

#footerwrap p {
	color:white;
	font-size:12px;
} 


/***********FULLCALENDAR STYLE***********/

#external-events {
	padding: 0 10px;
	border: 1px solid #8b8b8a;
	  background-color: #8b8b8a;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	text-align: left;
	}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #b2c831;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #b2c831;
	}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
	}

#calendar {
	width:100%;
	}
	
/************light-switch**********/
.light_switch {
  width: 100%;
  height: 290px;
  text-align: center;
}

.light_switch .progress {
  margin: 0 auto;
}

.light_switch label{
	font-family:'Ubuntu';
	font-size: 15px;
	width: 22%;
	margin: 0;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       https://css-tricks.com/webkit-sibling-bug/
 */

#off:checked ~ .progress > .progress-bar {
  width: 0%;
  background-color: #333333;
}
#light1:checked ~ .progress > .progress-bar {
  width: 33%;
  background-color: #F57F17;
}

#light2:checked ~ .progress > .progress-bar {
  width: 66%;
  background-color: #FBC02D;
}

#light3:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #FFEE58;
}


.radio_light {
  display: none;
  z-index: 1;
}

.label_light {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 3px 5%;
  color: #888888;
  border-radius: 5px;
  cursor: pointer;
  font-family:'Ubuntu', sans-serif;
  font-size:15px;
}

.radio_light:checked + .label_light {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
/**********AIR UPDOWN************/
.updown {
  text-align: center;
  width:50%;
}

.updown h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #888888;
  padding:0;
  margin:0;
}

.vote {
  border: none;
  background-color: transparent; 
  width: 40%;
  height: 5%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
  &:active {
    outline: none;
    border: none;
  }
  
  &:focus {
    outline: 0;
  }
  
}
.upArrow {
  x: 0px;
  y: 0px;
}

.downArrow {
  x: 0px;
  y: 0px;
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}
/**********air power*************/
.radio_airpower {
  display: none;
  z-index: 1;
}
#ap1{
  margin-top:0%;
  font-size: 15pt;
  color: #888888;
  display: inline-block;
  position: relative;
  background-color: #eeeeee;
  width: 90%;
  height: 100%;
  border-radius: 40px;
  padding-top:0%;
}
#ap1:hover {

}

/**********Media Styles**********/   

@media (max-width: 360px){
/*Calendar Adsjustments*/
.fc-header {margin-top:15px;}
.fc-header-title h2{font-size:10px; }
.fc-header-right {display:none}

/* portrait tablet */
@media (min-width: 767px) and (max-width: 768px) {
	.info-aapl ul {
  		margin-left:10px;
  		float:left;
}

#load {
	margin-left:5px;
	margin-right:10px;
}

#space {
	margin-left:5px;
	margin-right:10px;
}

}

/* Landscape iphone 5 and samsung galaxy */
@media (min-width: 560px) and (max-width: 685px) {
	.info-aapl ul {
  		margin-left:40%;
}

}