<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>DashBoard - 2nd Floor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="eunji">

		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
		
		<!-- CSS -->
		<link href="css/main.css" rel="stylesheet">
		<link href="css/flexslider.css" rel="stylesheet">

		<!-- JAVASCRIPT -->
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>    
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="js/graphs2.js"></script>
		<script type="text/javascript" src="js/switch_control2.js"></script>
		
		<!-- Google Fonts call. Font Used Open Sans & Raleway -->
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	   
	</head>
	 
	<body>
  	  <!-- NAVIGATION MENU -->

		<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Building Manager DashBoard</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">HOME</a></li>
					<li><a href="/1st_floor">1st FLOOR</a></li>
					<li><a href="/2nd_floor">2nd FLOOR</a></li>
				</ul>
			</div>
		</div>
	</nav>	
	  <!-- DASH BOARD -->
		<div class="container">
      
		  <!-- ROW OF BLOCKS -->     
			<div class="row">

			    <!-- 현재 온도와 습도 -->     
				<div class="dash-unit horizon_half" style="margin-left:1%; float:left; width: 63%; height:180px;">
					<dtitle>현재 온습도</dtitle>
					<hr>
					<div class="section-dht" style="margin-left:2%; float:left;">
						<br>
						<img src="images/temperture.png"></img>
						<br><br>
						<h1 id="temperture"></h1>
						<h2> ℃</h2>
					</div>
					<div class="section-dht" style="margin-right:2%; float:right;">
						<br>
						<img src="images/humidity.png"></img>
						<br><br>
						<h1 id="humidity"></h1>
						<h2> %</h2>
					</div>
				</div>
				<div class="dash-unit horizon_half" style="margin-left:65%; float=right; width: 33%; height:180px;">
					<dtitle>현재 조도</dtitle>
					<hr>
					<br>
					<img src="images/light.png"></img>
					<br>
					<br>
					<h1 id="bright"></h1>
					<h2> lx</h2>
				</div>
			
				<!-- PIE GRAPH CHART - pie.js file -->     
				<div class="dash-unit" style="height:200px;">
				<dtitle>실시간 사용 전력</dtitle>
				<hr>
					<div class="section-graph" id="linegraph">
					</div>
				</div>
			
				<!-- BAR GRAPH CHART - lineandbars.js file -->     
				<div class="dash-unit horizon_half" style= "margin-left:1%; float:left;">
				<dtitle>내달 소비전력량</dtitle>
				<hr>
					<div class="section-graph">
					  <div id="gaugegraph"></div>
					  <br>
					</div>
				</div>

			<!-- SWITCHES_LIGHT BLOCK -->     
				<div class="dash-half" style="margin-left:51%; float=right;">
					<dtitle>조명 조도 설정</dtitle>
					<hr>
					<div class="light_switch" style="text-align: center; padding-top:8%;">
						<input type="radio" class="radio_light" name="progress"  id="off">
						<label for="off" class="label_light" id="off_1">OFF</label>
						
						<input type="radio" class="radio_light" name="progress"  id="light1">
						<label for="light1" class="label_light" id="light_1">1</label>

						<input type="radio" class="radio_light" name="progress"  id="light2">
						<label for="light2" class="label_light" id="light_2">2</label>

						<input type="radio" class="radio_light" name="progress" id="light3">
						<label for="light3" class="label_light" id="light_3">3</label>
					</div>
				</div>
				<div class="dash-half" style="margin-left:51%; float=right;">
					<dtitle>희망온도 설정</dtitle>
					<hr>
					<div class="airpower" style="width:30%; height: 30%; float: left; text-align: center; margin-left: 15%; margin-top:10%;">
							<input type="radio" class="radio_airpower" id="air_power">
							<label for="air_power" class="label_airpower" id="ap1"></label>
					</div>
					<div class="updown" style="float: left; text-align: center;">
						<button id="upButton" type="button" class="vote">
							<svg fill="#999999" class="upArrow" id="upArrow" viewBox="0 0 11.5 6.4" xml:space="preserve">
								<path d="M11.4,5.4L6,0C5.9-0.1,5.8-0.1,5.8-0.1c-0.1,0-0.2,0-0.2,0.1
								L0.1,5.4C0,5.6,0,5.7,0.1,5.9l0.4,0.4c0.1,0.1,0.3,0.1,0.4,0l4.8-4.8l4.8,4.8c0.1,0.1,0.3,0.1,0.4,0l0.4-0.4
								C11.5,5.7,11.5,5.6,11.4,5.4z"/>
							</svg>
						</button>
						<h2 id="tempCounter" style="text-align:center;"></h2>
						<button id="downButton" type="button" class="vote">			
							<svg fill="#999999" class="downArrow" id="downArrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 11.5 6.4" xml:space="preserve">
								<path d="M0.1,0.9l5.4,5.4c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1
								l5.4-5.4c0.1-0.1,0.1-0.3,0-0.4L11,0c-0.1-0.1-0.3-0.1-0.4,0L5.8,4.8L0.9,0C0.8-0.1,0.6-0.1,0.5,0L0.1,0.4C0,0.6,0,0.7,0.1,0.9z"/>
							</svg>
						</button>
					</div>
				</div>
			</div> <!--/row -->     
		</div>
	</body>
</html>